@import "../../../app/variables.scss";

$darker-stripe-color: #3b414d;
$br: 0.4em;
$width: 15rem;
$height: 8rem;

[data-component="Reading"] {
  text-align: center;
  color: $color-regular;
  margin: 0.8rem 0.2rem;

  &:focus {
    outline-offset: 5px;
    outline: $link-color dotted 3px;
  }

  .standard-box {
    width: $width;
    min-height: $height;
    display: flex;
    flex-direction: column;
    border-radius: $br;
    background-color: #4f555f;
  }

  .header {
    background: $darker-stripe-color;
    border-radius: $br $br 0 0;
    color: $color-highlight;
    text-transform: uppercase;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    .title {
      width: 100%;
      padding-right: 1.8em;
      padding-left: 0.2em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .icon-active {
      position: absolute;
      margin-right: 0.4em;
      right: 0;

      cursor: pointer;

      &:hover {
        opacity: 0.5
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .readings, .status {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    padding-left: 0.4em;
    padding-right: 0.4em;

    .value {
      font-size: 1em;
      &.zoom {
        font-size: 2em;
      }
      color: $color-highlight;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .unit {
      margin-left: 0.4em;
    }

    .status {
      display: none;
    }
  }

  &:not(.success) {
    .content .readings {
      display: none;
    }

    .content .status {
      display: block;
    }

    .status {
      font-size: 0.9rem;
    }

    .status-icon {
      font-size: 2rem;
      margin-bottom: 0.2em;
    }
  }

  &.failure {
    .status > .status-icon {
      color: #F4C54E;
    }
  }

  &.loading {
    .status > .status-icon {
      color: #4E93FF;
    }
  }

  .footer {
    background: $darker-stripe-color;
    border-radius: 0 0 $br $br;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  &:not(.active) {
    .icon-active {
      display: none;
    }
  }

  &:not(.active).success {
    cursor: pointer;

    .standard-box {
      opacity: 0.4;
      filter: blur(1px);
    }

    .icon-active {
      color: $color-faded;
    }

    &:hover {
      .standard-box {
        filter: blur(4px);
        opacity: 0.5;
      }

      .activate-overlay {
        display: flex;
      }
    }
  }

  .activate-overlay {
    display: none;
    position: absolute;
    z-index: 1;
    width: $width;
    height: $height;
    font-size: 2em;
    color: $color-highlight;
    justify-content: center;
    align-items: center;
  }
}
