[data-component="Reading"] {
  text-align: center;
  color: #9098A9;
  margin: 0.8rem 0.2rem;
}

  [data-component="Reading"]:focus {
    outline-offset: 5px;
    outline: #619aff dotted 3px;
  }

  [data-component="Reading"] .standard-box {
    width: 15rem;
    min-height: 8rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 0.4em;
    background-color: #4f555f;
  }

  [data-component="Reading"] .header {
    background: #3b414d;
    border-radius: 0.4em 0.4em 0 0;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  [data-component="Reading"] .header .title {
      width: 100%;
      padding-right: 1.8em;
      padding-left: 0.2em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  [data-component="Reading"] .header .icon-active {
      position: absolute;
      margin-right: 0.4em;
      right: 0;

      cursor: pointer;
    }

  [data-component="Reading"] .header .icon-active:hover {
        opacity: 0.5
      }

  [data-component="Reading"] .content {
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;

    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  [data-component="Reading"] .content .readings, [data-component="Reading"] .content .status {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 100%;
    }

  [data-component="Reading"] .content .value {
      font-size: 1em;
      color: #FFFFFF;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  [data-component="Reading"] .content .value.zoom {
        font-size: 2em;
      }

  [data-component="Reading"] .content .unit {
      margin-left: 0.4em;
    }

  [data-component="Reading"] .content .status {
      display: none;
    }

  [data-component="Reading"]:not(.success) .content .readings {
      display: none;
    }

  [data-component="Reading"]:not(.success) .content .status {
      display: block;
    }

  [data-component="Reading"]:not(.success) .status {
      font-size: 0.9rem;
    }

  [data-component="Reading"]:not(.success) .status-icon {
      font-size: 2rem;
      margin-bottom: 0.2em;
    }

  [data-component="Reading"].failure .status > .status-icon {
      color: #F4C54E;
    }

  [data-component="Reading"].loading .status > .status-icon {
      color: #4E93FF;
    }

  [data-component="Reading"] .footer {
    background: #3b414d;
    border-radius: 0 0 0.4em 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  [data-component="Reading"]:not(.active) .icon-active {
      display: none;
    }

  [data-component="Reading"]:not(.active).success {
    cursor: pointer;
  }

  [data-component="Reading"]:not(.active).success .standard-box {
      opacity: 0.4;
      -webkit-filter: blur(1px);
              filter: blur(1px);
    }

  [data-component="Reading"]:not(.active).success .icon-active {
      color: #A5A5A5;
    }

  [data-component="Reading"]:not(.active).success:hover .standard-box {
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0.5;
      }

  [data-component="Reading"]:not(.active).success:hover .activate-overlay {
        display: -webkit-box;
        display: flex;
      }

  [data-component="Reading"] .activate-overlay {
    display: none;
    position: absolute;
    z-index: 1;
    width: 15rem;
    height: 8rem;
    font-size: 2em;
    color: #FFFFFF;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
