[data-component="Dashboard"] .dashboard-header .title {
      color: #FFFFFF;
      text-transform: uppercase;
    }
    [data-component="Dashboard"] .dashboard-header .active {
      color: #FFFFFF;
    }
    [data-component="Dashboard"] .dashboard-header .inactive {
      color: #A5A5A5;
    }
    [data-component="Dashboard"] .dashboard-header .total {
      color: #D1DCF5;
    }
  [data-component="Dashboard"] .search-wrapper {
    margin-bottom: 2em;
  }
  [data-component="Dashboard"] .actions-wrapper {
    margin-bottom: 2em;
    text-align: center;
  }
  [data-component="Dashboard"] .status-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-top: 4em;

    font-size: 1.2em;
  }
  [data-component="Dashboard"] .status-container .status-icon {
      font-size: 10em;
    }
  [data-component="Dashboard"] .status-container.failure .status-icon {
      color: #F4C54E;
    }
  [data-component="Dashboard"] .status-container.progress .status-icon {
      color: #4E93FF;
    }
