@import "../../../app/variables.scss";

[data-component="Dashboard"] {
  .dashboard-header {
    .title {
      color: $color-highlight;
      text-transform: uppercase;
    }

    .active {
      color: $color-highlight;
    }

    .inactive {
      color: $color-faded;
    }

    .total {
      color: $color-lighter;
    }
  }

  .search-wrapper {
    margin-bottom: 2em;
  }

  .actions-wrapper {
    margin-bottom: 2em;
    text-align: center;
  }

  .status-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;

    font-size: 1.2em;

    .status-icon {
      font-size: 10em;
    }

    &.failure .status-icon {
      color: #F4C54E;
    }

    &.progress .status-icon {
      color: #4E93FF;
    }
  }
}
