/* ----------------------------------------------------------------------------
 * CSS Normalize
 * ------------------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;word-wrap:break-word;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type=button],/* 1 */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/* ----------------------------------------------------------------------------
 * Box-sizing border-box
 * ------------------------------------------------------------------------- */
* { box-sizing: border-box;}
a[href] {
  color: #619aff;
  text-decoration: underline;
  cursor: pointer;
}
a[href]:hover {
    color: color(#619aff tint(10%));
  }
html {
  height:100%;
  min-height:100%;
}
body {
  background: #252830;
  margin: 0;
  height:100%;
  min-height:100%;
  word-break: break-word;
  color: #9098A9;
  -webkit-word-break: break-word;
  padding: 1rem;
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
}
input[type="text"] {
  padding: 0.8em;
  width: 100%;
  background: #434856;
  border-radius: 0.4em;
  box-shadow: none;
  border: none;
  color: #D1DCF5;
}
input[type="text"]:focus {
    outline-offset: 2px;
    outline: #619aff dotted 2px;
  }
